<pre class='board'>
<%=@board%>
</pre>


<form action="/player1_game" method="post">
  <input type="text" name="shootcoords">
  <input type="submit" value="shoot">
</form>



<pre class='board2'>
<%=@board2%>
</pre>