<% if @error %>
  <div>
    <%= @error %>
  </div>
  <% end %>

<pre class='board'>
<%=@board%>
</pre>

<form action="/player1_game" method="post">
  <input type="text" name="coords">
  <input type="submit" value="Shoot!">
</form>

<pre class='board2'>
<%=@board2%>
</pre>

<!-- <%= @shoot_target %> Keep if you want to see miss or hit add this to controller (to equal the action) and here  -->
