<% if @error %>
  <div>
    <%= @error %>
  </div>
<% end %>

<pre class='board'>
  <%=@board%>
</pre>

<%= @shoot_target %>

<form action="/shooting" method="post">
  <input type="text" name="coords">
  <input type="submit" value="Shoot!">
</form>

<pre class='board2'>
  <%=@board2%>
</pre>
